html{
    box-sizing: border-box;
}
body{
    background-color: rgb(41, 134, 196);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-transform: uppercase;
    text-align: center;
}

img{
    max-height: 50vh;
    margin: 10px auto auto 10px;
    border-radius: 10px;
}

.desription-container{
    background-color: rgba(0, 255, 255, 0.486);
    margin: 10px auto auto 10px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
}

